<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.indieAndBob.mapper.funding">


    <select id="selectFundingByFundingId" parameterType="int" resultType="funding">
		select * from funding where funding_id=#{fundingId}
    </select>
   	<select id="selectFundingByRewardId" parameterType="int" resultType="funding">
		select * from funding where reward_id=#{rewardId}
    </select>
    <select id="selectFundingByGameId" parameterType="int" resultType="funding">
    	select * from funding where game_id=#{gameId}
    </select>
<!--     <select id="selectAllFunding" parameterType="int" resultType="funding"> -->
<!--    	    select * from funding order by game_id desc limit #{page},10 -->
<!--     </select> -->
    <insert id="registerFunding" useGeneratedKeys="true" keyProperty="fundingId" parameterType="funding">
        insert into funding (game_id, reward_id, nickname,money)
        values (#{gameId}, #{rewardId}, #{nickname},#{money})
    </insert>
    <delete id="deleteFundingByFundingId" parameterType="int">
    	delete from funding where funding_id=#{fundingId}
    </delete>
    <select id="selectFundingByNickname" parameterType="mygamesearch" resultType="fundinggame">
    	select g.*,r.*,u.profile, DATEDIFF(deadline, now()) as left_day from funding f,game g,reward r, user u
		where f.game_id=g.game_id and f.reward_id=r.reward_id and u.nickname=g.nickname and f.nickname=#{nickname} order by funding_id desc limit #{page},9;
    </select>
</mapper>