<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.indieAndBob.mapper.game">

   	<select id="selectGameById" parameterType="String" resultType="gameall">
		select * from game natural join game_detail where game_id=#{gameId}
    </select>
    <select id="selectAllGame" parameterType="int" resultType="game">
   	    select * from game where is_approve=1 and is_end=false limit #{page},10
    </select>
    <select id="selectAllGameAdmin" parameterType="int" resultType="game">
    	select * from game where is_approve=0 and is_end=false limit #{page},10
    </select>
    <insert id="registerGame" useGeneratedKeys="true" keyProperty="gameId" parameterType="gameall">
        insert into game (name, deadline, aim,left_price, is_end, is_approve, nickname,
        thumbnail)
        values (#{name}, #{deadline}, #{aim},#{aim},#{isEnd},#{isApprove},#{nickname},
        #{thumbnail})
    </insert>
    <update id="updateGame" parameterType="game">
    	update game set name=#{name}, deadline=#{deadline}, aim=#{aim}, left_price=#{leftPrice}, is_end=#{isEnd}, is_approve=#{isApprove}, nickname=#{nickname}
        where game_id=#{gameId}
    </update>
    <delete id="deleteGameById" parameterType="int">
    	delete from game where game_id=#{gameId}
    </delete>
    <insert id="registerGameDetail" parameterType="gameall">
    	insert into game_detail (game_id, content) values(#{gameId}, #{content})
    </insert>
    <insert id="gameLike" parameterType="gamelike">
    	insert into game_like (nickname,game_id) values(#{nickname},#{gameId})
    </insert>
    
    <select id="selectGameByNickname" parameterType="String" resultType="game">
    	select * from game 
    	where game_id in (select game_id from game_like where nickname=#{nickname});
    </select>
    
    <select id="selectUserByGameId" parameterType="String" resultType="user">
    	select * from user 
    	where nickname in (select nickname from game_like where game_id=#{gameId});
    </select>
    
    <delete id="deleteGameLike" parameterType="gameLike">
    	delete from game_like where nickname=#{nickname} and game_id=#{gameId}
    </delete>
    
    <select id="isLike" parameterType="gamelike" resultType="gamelike">
    	select * from game_like where nickname=#{nickname} and game_id=#{gameId}
    </select>
    
    <update id="updateApprove" parameterType="game">
    	update game set is_approve=#{isApprove} where game_id=#{gameId}
    </update>
</mapper>