<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.indieAndBob.mapper.game">

   	<select id="selectGameById" parameterType="String" resultType="game">
		select * from game where game_id=#{gameId}
    </select>
    <select id="selectAllGame" resultType="game">
   	    select * from game
    </select>
    <insert id="registerGame" parameterType="game">
        insert into game (game_id, name, deadline, aim,left_price, is_end, is_approve, email,
        thumbnail ,created_at ,updated_at ,started_at) 
        values (#{gameId}, #{name}, #{deadline}, #{aim},#{leftPrice},#{isEnd},#{isApprove},#{email},
        #{thumbnail},#{createdAt},#{updatedAt},#{startedAt})
    </insert>
    <insert id="gameLike" parameterType="gameLike">
    	insert into like (email,game_id) values(#{email},#{gameId})
    </insert>
    
    <select id="selectGameByEmail" parameterType="String" resultType="game">
    	select * from game 
    	where game_id in (select game_id from game_like where email=#{email});
    </select>
    
    <select id="selectUserByGameId" parameterType="String" resultType="user">
    	select * from user 
    	where email in (select email from game_like where game_id='#{gameId});
    </select>
    
    <delete id="deleteGameLike" parameterType="gameLike">
    	delete from game_like where email=#{email} and game_id=#{gameId}
    </delete>
</mapper>