<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.indieAndBob.mapper.reward">

   <select id="selectRewardById" parameterType="String" resultType="reward">
   	  select * from reward where reward_id=#{rewardId}
   </select>
   <insert id="registerReward" parameterType="reward">
      insert into reward (reward_id, game_id, reward_name, r_img,left_price,price,content) 
      values (#{rewardId}, #{gameId}, #{rewardName}, #{rImg},#{leftPrice},#{price},#{content})
   </insert>
</mapper>