<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.indieAndBob.mapper.reward">

   <select id="selectRewardById" parameterType="String" resultType="reward">
   	  select * from reward where reward_id=#{rewardId}
   </select>
   <select id="selectRewardByGameId" parameterType="String" resultType="reward">
   	  select * from reward where game_id=#{gameId}
   </select>
   <select id="selectAllReward" resultType="reward">
   	  select * from reward
   </select>
   <insert id="registerReward" parameterType="reward">
      insert into reward (reward_id, game_id, reward_name, r_img,left_count,price,content) 
      values (#{rewardId}, #{gameId}, #{rewardName}, #{rImg},#{leftCount},#{price},#{content})
   </insert>
   <update id="updateRewardByRewardId" parameterType="reward">
      update reward set reward_name=#{rewardName}, r_img=#{rImg}, left_count=#{leftCount}, price=#{price}, content=#{content}
      where reward_id=#{rewardId}
   </update>
   <delete id="deleteRewardByRewardId" parameterType="int">
      delete from reward where reward_id=#{rewardId}
   </delete>
</mapper>