<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.indieAndBob.mapper.userbaseRecommand">

   	<select id="userbaseRecommand" resultType="userbaserecommand">
   		select user_id, game_id from game_like left outer join user using(nickname)
   	</select>
   	
   	<select id="getUserId" parameterType="String" resultType="int">
   		select user_id from user where nickname=#{nickname}
   	</select>
   	
   	<select id="selectRandGame" resultType="gameall">
   		select *, DATEDIFF(deadline, now()) as left_day from game where is_approve=1 and is_end=false order by rand() limit 5
   	</select>
</mapper>