<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	<typeAliases>
		<!-- 사용할 DTO들을 예약어로 등록 -->
		<!-- typeAlias type="com.example.core.dto.Board" alias="board" /-->
		<typeAlias type="com.ssafy.indieAndBob.user.dto.User" alias="user"/>
		<typeAlias type="com.ssafy.indieAndBob.user.dto.UserAll" alias="userall"/>
		<typeAlias type="com.ssafy.indieAndBob.user.dto.Follow" alias="follow"/>
		<typeAlias type="com.ssafy.indieAndBob.user.dto.UserGenre" alias="usergenre"/>
		<typeAlias type="com.ssafy.indieAndBob.game.dto.Game" alias="game"/>
		<typeAlias type="com.ssafy.indieAndBob.game.dto.GameDetail" alias="gamedetail"/>
		<typeAlias type="com.ssafy.indieAndBob.game.dto.GameAll" alias="gameall"/>
		<typeAlias type="com.ssafy.indieAndBob.game.dto.GameAllLike" alias="gamealllike"/>
		<typeAlias type="com.ssafy.indieAndBob.game.dto.GameLike" alias="gamelike"/>
		<typeAlias type="com.ssafy.indieAndBob.game.dto.GameComment" alias="gamecomment"/>
		<typeAlias type="com.ssafy.indieAndBob.game.dto.Genre" alias="genre"/>
		<typeAlias type="com.ssafy.indieAndBob.game.dto.GameGenre" alias="gamegenre"/>
		<typeAlias type="com.ssafy.indieAndBob.game.dto.FundingGame" alias="fundinggame"/>
		<typeAlias type="com.ssafy.indieAndBob.game.dto.MyGameSearch" alias="mygamesearch"/>
		<typeAlias type="com.ssafy.indieAndBob.reward.dto.Reward" alias="reward"/>
		<typeAlias type="com.ssafy.indieAndBob.alarm.dto.Alarm" alias="alarm"/>
		<typeAlias type="com.ssafy.indieAndBob.kakaopay.dto.Funding" alias="funding"/>
		<typeAlias type="com.ssafy.indieAndBob.community.dto.Community" alias="community"/>
		<typeAlias type="com.ssafy.indieAndBob.community.dto.MyCommunitySearch" alias="mycommunitysearch"/>
		<typeAlias type="com.ssafy.indieAndBob.community.dto.CommunityComment" alias="communitycomment"/>
		<typeAlias type="com.ssafy.indieAndBob.recommand.dto.UserbaseRecommand" alias="userbaserecommand"/>
		
		<!--권성완-->
		<typeAlias type="com.ssafy.indieAndBob.qna.dto.QnaVO" alias="QnaVO"/>
		<typeAlias type="com.ssafy.indieAndBob.qna.dto.QnaGameVO" alias="QnaGameVO"/>
		<typeAlias type="com.ssafy.indieAndBob.recommand.dto.GenrebaseRecommand" alias="GenrebaseRecommand"/>
		
	</typeAliases>

	<mappers>
		<!-- 사용할 mapper 등록 -->
		<mapper resource="mybatis/mapper/userMapper.xml" />
		<mapper resource="mybatis/mapper/gameMapper.xml" />
		<mapper resource="mybatis/mapper/gameCommentMapper.xml" />
		<mapper resource="mybatis/mapper/rewardMapper.xml" />
		<mapper resource="mybatis/mapper/fundingMapper.xml" />
		<mapper resource="mybatis/mapper/genreMapper.xml" />
		<mapper resource="mybatis/mapper/communityMapper.xml" />
		<mapper resource="mybatis/mapper/communityCommentMapper.xml" />
		<mapper resource="mybatis/mapper/userbaseRecommandMapper.xml" />
		<mapper resource="mybatis/mapper/SearchMapper.xml" />
		
		<!--권성완-->
		<mapper resource="mybatis/mapper/qnaMapper.xml"/>
		<mapper resource="mybatis/mapper/genrebaseRecommandMapper.xml" />
		
	</mappers>
</configuration>